.card {
  padding: 20px;
  background-color: #28334e !important;
}

.resgister-div {
  margin-top: 30px;
}
.navbar {
  background-color: #28334e !important;
}
.right-nav-item .nav-link {
  color: white !important;
}
.right-nav-item .btn-register-nav {
  background-color: #386dc9 !important;
}
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .bg-secondary {
  background-color: #737f92 !important;
  color: #28334e !important;
}
.card .btn-login-focus:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.App {
  background: url(../public/images/background.svg);
  background-size: cover;
  height: 900px;
  /* height: calc(100vh - calc(0.5em * 9.84));
  height: calc(100vh - calc(var(--gap) * 9.84)); */
  justify-content: center;
  margin: 0 auto;
  color: var(--secondary-contrast-cta-color);
  background-color: #171c29;
}
.card .btn-sign {
  background-color: #007bff;
  color: white;
}
.card .btn-sign:hover {
  background-color: #007bff;
  color: white;
}

.card .btn-group-top-reg {
  background-color: #28334e;
  color: white;
  outline: 0 !important;
  box-shadow: none !important;
}
.card .btn-group-top-reg:hover {
  background-color: #28334e;
  color: white;
  outline: 0 !important;
  box-shadow: none !important;
}
.card .btn-group-top-log {
  background-color: #28334e;
  color: white;
  outline: 0 !important;
  box-shadow: none !important;
}
.card .btn-group-top-log:hover {
  background-color: #28334e;
  color: white;
  outline: 0 !important;
  box-shadow: none !important;
}

.landing-div {
  color: white;
}
.card-sign .form-control {
  background-color: #1e2841;
  color: white;
}
.card-sign .form-control:focus {
  background-color: #1e2841;
  color: white;
}
.verify-email-div {
  margin-top: 30px;
  color: white;
}
